In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from sqlalchemy import create_engine,text
from dotenv import load_dotenv
import os

In [9]:
# Define directory paths
DIR_DATA = Path.cwd().parents[0] / "data"
DIR_OUTPUT = DIR_DATA/ "combined_csv"

In [11]:
# Load combined CSV data
combined_csv_df=pd.read_csv(DIR_OUTPUT / "combined_csv_reports.csv")
combined_csv_df.head()

,counter_id,daily_range_high,daily_range_low,counter,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,dividend_yield_pct,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time
0,1.0,138.97,137.94,AIRTEL,0.0,137.96,138.54,137.98,79004.0,2.0,1.45,2.81,35.53,47.26,1517780.0,42722.11,1.100000e+10,2025-09-19,14:37:47
1,2.0,15.02,15.02,BHL,15.02,0.0,15.02,15.02,7042.0,0.0,0.00,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,2025-09-19,14:37:47
2,3.0,637.95,637.91,FDHB,635.0,637.92,637.95,637.93,101411.0,4.73,0.74,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,2025-09-19,14:37:47
3,4.0,1897.99,1897.99,FMBCH,1897.99,0.0,1897.99,1897.99,15133.0,3.64,0.19,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,2025-09-19,14:37:47
4,5.0,17.94,17.94,ICON,0.0,17.94,17.94,17.94,18168.0,0.29,1.62,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,2025-09-19,14:37:47

In [12]:
#check columns related info
combined_csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26575 entries, 0 to 26574
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   counter_id                  26575 non-null  object
 1   daily_range_high            11178 non-null  float64
 2   daily_range_low             11178 non-null  float64
 3   counter                     26575 non-null  object
 4   buy_price                   24849 non-null  object
 5   sell_price                  25052 non-null  object
 6   previous_closing_price      26574 non-null  float64
 7   today_closing_price         24916 non-null  float64
 8   volume_traded               24916 non-null  float64
 9   dividend_mk                 26390 non-null  object
 10  dividend_yield_pct          26391 non-null  float64
 11  earnings_yield_pct          26214 non-null  float64
 12  pe_ratio                    26214 non-null  float64
 13  pbv_ratio                   26561 non-null  object
 14  market_capitalization_mkmn  26574 non-null  object
 15  profit_after_tax_mkmn       26574 non-null  float64
 16  num_shares_issue            26545 non-null  float64
 17  trade_date                  26575 non-null  object
 18  print_time                  25325 non-null  object
dtypes: float64(10), object(9)
memory usage: 3.9+ MB

In [13]:
#check counter unique values
combined_csv_df['counter'].unique()

array(['AIRTEL', 'BHL', 'FDHB', 'FMBCH', 'ICON', 'ILLOVO', 'MPICO', 'NBM',
       'NBS', 'NICO', 'NITL', 'OMU', 'PCL', 'STANDARD', 'SUNBIRD', 'TNM',
       'OML', 'MPICO CD', 'NBM CD', 'NICO CD', 'PCL CD', 'Standard CD',
       'Sunbird CD', 'TNM CD', 'MPICO TS', 'BHL CD', 'BHL XD', 'NITL XD',
       'NITL CD', 'NBS TS', 'NICO TS', 'Sunbird', 'PCL TS', 'Sunbird H',
       'SUNBIRD H', 'StandardCD', 'SUNBIRDCD', 'NITL TS', 'SUNBIRD TS',
       'TNM TS', 'NBM XD', 'StandardTS', 'TNM TS XD', 'TNM TS CD',
       'FMB CA', 'Sunbird XD', 'PCL XD', 'MPICO XD', 'NICO XD',
       'Standard XD', 'TNM XD', 'FMBTS CA XD', 'Sunbird TS',
       'FMBTS CA CD', 'SunbirdXD TS', 'SunbirdCD TS', 'NBS-LA*'],
      dtype=object)

#### Company name-abbreviation mapping

In [14]:
companies={'AIRTEL':'Airtel Malawi plc', 
       'BHL':'Blantyre Hotels Plc', 
       'FDHB':'FDH Bank plc', 
       'FMBCH':'FMB Capital Holdings plc', 
       'ICON':'ICON Properties plc',
       'ILLOVO':'Illovo Sugar Malawi plc', 
       'MPICO':'Malawi Property Investment Company plc',
       'NBM':'National Bank of Malawi',
       'NBS':'NBS Bank plc', 
       'NICO':'NICO Holdings plc',
       'NITL':'National Investment Trust Plc',
       'OMU':'Old Mutual Limited', 
       'PCL':'Press Corporation plc', 
       'STANDARD':'Standard Bank Malawi plc',
       'SUNBIRD':'Sunbird Tourism plc',
       'TNM':'Telekom Networks Malawi plc',
       'OML':'Old Mutual Limited', 
       'MPICO CD':'Malawi Property Investment Company plc',
       'NBM CD':'National Bank of Malawi', 
       'NICO CD':'NICO Holdings plc', 
       'PCL CD':'Press Corporation plc',
       'Standard CD':'Standard Bank Malawi plc',
       'Sunbird CD':'Sunbird Tourism plc',
       'TNM CD':'Telekom Networks Malawi plc', 
       'MPICO TS':'Malawi Property Investment Company plc', 
       'BHL CD':'Blantyre Hotels Plc',
       'BHL XD':'Blantyre Hotels Plc', 
       'NITL XD':'National Investment Trust Plc',
       'NITL CD':'National Investment Trust Plc',
       'NBS TS':'NBS Bank plc', 
       'NICO TS':'NICO Holdings plc', 
       'Sunbird':'Sunbird Tourism plc',
       'PCL TS':'Press Corporation plc',
       'Sunbird H':'Sunbird Tourism plc',
       'SUNBIRD H':'Sunbird Tourism plc',
       'StandardCD':'Standard Bank Malawi plc', 
       'SUNBIRDCD':'Sunbird Tourism plc', 
       'NITL TS':'National Investment Trust Plc',
       'SUNBIRD TS':'Sunbird Tourism plc',
       'TNM TS':'Telekom Networks Malawi plc',
       'NBM XD':'National Bank of Malawi',
       'StandardTS':'Standard Bank Malawi plc',
       'TNM TS XD':'Telekom Networks Malawi plc', 
       'TNM TS CD':'Telekom Networks Malawi plc',
       'FMB CA':'FMB Capital Holdings plc', 
       'Sunbird XD':'Sunbird Tourism plc',
       'PCL XD':'Press Corporation plc',
       'MPICO XD':'Malawi Property Investment Company plc',
       'NICO XD':'NICO Holdings plc',
       'Standard XD':'Standard Bank Malawi plc',
       'TNM XD':'Telekom Networks Malawi plc',
       'FMBTS CA XD':'FMB Capital Holdings plc', 
       'Sunbird TS':'Sunbird Tourism plc',
       'FMBTS CA CD':'FMB Capital Holdings plc', 
       'SunbirdXD TS':'Sunbird Tourism plc',
       'SunbirdCD TS':'Sunbird Tourism plc',
       'NBS-LA*':'NBS Bank plc'}

In [15]:
def company_mapping(row):
    """map company names to their abbreviations"""
    return companies[row['counter']].upper()
#company mapping
combined_csv_df['name']=combined_csv_df.apply(company_mapping,axis=1)
# counter column rename
combined_csv_df = combined_csv_df.rename(columns={"counter": "ticker"})

In [16]:
df_prices=combined_csv_df.copy()
df_prices.columns

Index(['counter_id', 'daily_range_high', 'daily_range_low', 'ticker',
       'buy_price', 'sell_price', 'previous_closing_price',
       'today_closing_price', 'volume_traded', 'dividend_mk',
       'dividend_yield_pct', 'earnings_yield_pct', 'pe_ratio', 'pbv_ratio',
       'market_capitalization_mkmn', 'profit_after_tax_mkmn',
       'num_shares_issue', 'trade_date', 'print_time', 'name'],
      dtype='object')

In [17]:
#lad company description data
df_comp=pd.read_csv(DIR_OUTPUT/"company_description.csv")
ids={}
for ticker, id in zip(df_comp['Company Name'].values,df_comp['ISIN'].values):
    ids[ticker]=id
df_prices['counter_id']=df_prices['name'].apply(lambda x:ids[x])
#df_prices.head()

prices={}
for ticker, price in zip(df_comp['Company Name'].values,df_comp['Listing Price'].values):
    prices[ticker]=price
df_prices['open_mwk']=df_prices['name'].apply(lambda x:prices[x])
df_prices.head()

,counter_id,daily_range_high,daily_range_low,ticker,buy_price,sell_price,previous_closing_price,today_closing_price,volume_traded,dividend_mk,...,earnings_yield_pct,pe_ratio,pbv_ratio,market_capitalization_mkmn,profit_after_tax_mkmn,num_shares_issue,trade_date,print_time,name,open_mwk
0,MWAIRT001156,138.97,137.94,AIRTEL,0.0,137.96,138.54,137.98,79004.0,2.0,...,2.81,35.53,47.26,1517780.0,42722.11,1.100000e+10,2025-09-19,14:37:47,AIRTEL MALAWI PLC,12.69
1,MWBHL0010029,15.02,15.02,BHL,15.02,0.0,15.02,15.02,7042.0,0.0,...,-1.55,-64.44,1.36,88291.39,-1370.11,5.878255e+09,2025-09-19,14:37:47,BLANTYRE HOTELS PLC,0.84
2,MWFDHB001166,637.95,637.91,FDHB,635.0,637.92,637.95,637.93,101411.0,4.73,...,1.68,59.44,45.2,4402374.87,74063.00,6.901031e+09,2025-09-19,14:37:47,FDH BANK PLC,10.00
3,MWFMB0010138,1897.99,1897.99,FMBCH,1897.99,0.0,1897.99,1897.99,15133.0,3.64,...,2.53,39.45,14.18,4665733.92,118254.74,2.458250e+09,2025-09-19,14:37:47,FMB CAPITAL HOLDINGS PLC,45.01
4,MWICON001146,17.94,17.94,ICON,0.0,17.94,17.94,17.94,18168.0,0.29,...,20.38,4.91,0.82,119839.2,24424.49,6.680000e+09,2025-09-19,14:37:47,ICON PROPERTIES PLC,8.75

In [18]:
#extract needed columns
df_prices=df_prices[['counter_id','trade_date','open_mwk','daily_range_high','daily_range_low','today_closing_price','volume_traded']]
df_prices.columns=['counter_id','trade_date','open_mwk','high_mwk','low_mwk','close_mwk','volume']

In [19]:
#format som df_prices columns
df_prices['volume']=df_prices['volume'].astype(float)
df_prices['trade_date'] = pd.to_datetime(df_prices['trade_date'])
df_prices['close_mwk']=df_prices['close_mwk'].astype(float)
df_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26575 entries, 0 to 26574
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   counter_id  26575 non-null  object
 1   trade_date  26575 non-null  datetime64[ns]
 2   open_mwk    26575 non-null  float64
 3   high_mwk    11178 non-null  float64
 4   low_mwk     11178 non-null  float64
 5   close_mwk   24916 non-null  float64
 6   volume      24916 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 1.4+ MB

#### load data into database

In [20]:
load_dotenv()  

PGHOST = os.getenv("PGHOST")
PGPORT = os.getenv("PGPORT", "5432")
PGDATABASE = os.getenv("PGDATABASE")
PGUSER = os.getenv("PGUSER")
PGPASSWORD = os.getenv("PGPASSWORD")

In [21]:
#Validate created variables
print("PostgreSQL Connection Settings:")
print(f"Host: {PGHOST}")
print(f"Port: {PGPORT}")
print(f"Database: {PGDATABASE}")
print(f"User: {PGUSER}")
print(f"Password: {'[SET]' if PGPASSWORD else '[NOT SET]'}")

PostgreSQL Connection Settings:
Host: localhost
Port: 5432
Database: mse_db
User: kir2351763
Password: [SET]

In [23]:
# Create SQLAlchemy engine 
connection_string = f"postgresql+psycopg2://{PGUSER}:{PGPASSWORD}@{PGHOST}:{PGPORT}/{PGDATABASE}"
print("Connection psql string:", connection_string)

Connection psql string: postgresql+psycopg2://kir2351763:password@localhost:5432/mse_db

In [27]:
engine = create_engine(
    connection_string,
    pool_pre_ping=True,
)
# create a table
query = """create table if not exists tickers (counter_id text primary key, ticker text not null, name text not null, listing_price real not null, date_listed date not null);"""
with engine.begin() as conn:
    conn.execute(text(query))

In [25]:
#modify ticker information

df_comp.columns=['name', 'ticker', 'counter_id', 'listing_price', 'date_listed']
df_comp=df_comp[['counter_id', 'ticker', 'name', 'listing_price', 'date_listed']]
df_comp['date_listed'] = pd.to_datetime(df_comp['date_listed']).dt.date
df_comp['listing_price'] = df_comp['listing_price'].astype(float)
df_comp.head()

/tmp/ipykernel_22542/2486247009.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_comp['date_listed'] = pd.to_datetime(df_comp['date_listed']).dt.date

     counter_id  ticker                      name  listing_price date_listed
0  MWAIRT001156  AIRTEL         AIRTEL MALAWI PLC          12.69  2020-02-24
1  MWBHL0010029     BHL       BLANTYRE HOTELS PLC           0.84  1997-03-25
2  MWFDHB001166    FDHB              FDH BANK PLC          10.00  2020-08-03
3  MWFMB0010138   FMBCH  FMB CAPITAL HOLDINGS PLC          45.01  2017-09-18
4  MWICON001146    ICON       ICON PROPERTIES PLC           8.75  2019-01-21

In [28]:
df_comp.to_sql('tickers', engine, if_exists='append', index=False)

16

In [29]:
# Create prices_daily table
query="""create table if not exists daily_prices (
    counter_id text REFERENCES counters(counter_id),
    trade_date date,
    open_mwk real,
    high_mwk real,
    low_mwk real,
    close_mwk real,
    volume real
    );"""
with engine.begin() as conn:
    conn.execute(text(query))

In [30]:
df_prices.to_sql('daily_prices', engine, if_exists='append', index=False)

575